<nav aria-label="Breadcrumb" aria-labelledby="breadcrumbs-heading" role="navigation">
	<tac-breadcrumb data-max-label="{{ max_label|default(24) }}" data-collapse-from="{{ collapse_from|default(4) }}" style="--tac-breadcrumb-separator: '{{ separator|default('/')|e('html_attr') }}'; --tac-breadcrumb-max: {{ max_label|default(24) }}ch;">
		<h2 id="breadcrumbs-heading" class="clipped">You are here</h2>
		<ol {{ attributes }}>
			{% for item in breadcrumb %}
				<li {{loop.last?'data-current':''}}>
					{% if item.url %}
						<a href="{{ item.url }}">{{ item.text }}</a>
					{% else %}
						<span aria-current="page">{{ item.text }}</span>
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	</tac-breadcrumb>
</nav>
